#navbarSupportedContent > ul > li:nth-child(5) > a{
    color: #ffffff;
    border-radius: 50px;
}

#navbarSupportedContent > ul > li:nth-child(5) > a:focus{
    box-shadow: none;
}

body > nav{
    background-color: #ffffff00;
}

.hero-image{
    width: 90%;
}

#button-addon2{
    height: 100%;
    border-radius: 25px;
}

#button-addon2:focus{
    box-shadow: none;
}

.form-control{
    height: 100%;
}

.form-control:focus {
    box-shadow: none;
}

.hero-btn{
    border-radius: 26px;
}

button.btn:focus{
    box-shadow: none;
}

.search-g{
    height: 50px;
    border: 2px solid #00000017;
    width: 94%;
    border-radius: 25px;
    box-shadow: 4px 6px 12px #1313131e;
}

.scard{
    width: 30%;
}

.card1{
    border: none;
}

.fcard{
    width: 50px;
    height: 50px;
    padding-right: 12rem;
}

.card2{
    box-shadow: 14px 14px 24px #0000001e;
}

.lmore:focus{
    box-shadow: none;
}


.bottom-image{
    max-width: 400px;
}

.bbox-wraper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bbox{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bb-i{
    width: 12%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    height: 30px;
    width: 30px;
    color: #ffffff;
    background-color: green;
    border-radius: 50%;
}

.bb-text{
    width: 88%;
}

.contact-image{
    max-height: 500px;
}