.nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav .navItem > a {
  display: block;
  padding: 1rem 2rem;
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  white-space: nowrap;
}

.nav .navItem > a:hover {
  color: var(--neutral);
  background: var(--primary-deep);
  border-radius: 1rem;
}
@media only screen and (max-width: 900px) {
  .nav {
    display: block;
  }
  .nav .navItem {
    text-align: center;
  }
}
